<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kyobo.stats.dao.mapper.cstmapp.SearchMapper">
	<sql id ="agentSearchWhereStatement">
		<if test="groupBy != null">
			GROUP BY #{groupBy}
		</if>
		
		<if test="orderBy != null">
			ORDER BY #{orderBy} 
		</if>
	</sql>
	
	<select id="getAgentSearch" parameterType="com.kyobo.stats.model.AgentSearch"  resultType="com.kyobo.stats.model.AgentSearch">
			SELECT 
			  AgentID as agentID,
			  AgentName as agentName,
			  AgentTeamKor as agentTeamKor,
			  SkillGroupKor as skillGroupKor
			FROM 
				CSTM_APP.dbo.F_ListAgent(#{searchGroup}, #{searchTeam})
			<include refid = "agentSearchWhereStatement"/>
	</select>
	
	<select id="getListByCode" parameterType="string"  resultType="com.kyobo.stats.web.dto.CodeNamePair">
			SELECT 
			  Code as code,
			  Name as name
			FROM 
				CSTM_APP.dbo.F_ListCode(#{code})
	</select>
</mapper>